.v-main.cards-page {
  .view-content {
    padding: 60px;
  }
  .left-column {
    max-width: 414px;
  }
  .right-column {
    width: 100%;
  }
  .swiper {
    ::v-deep .swiper-pagination-bullet-custom {
      text-align: center;
      opacity: 0.7;
      border-radius: 8px;
      background-color: #ccf6e1;
      &:hover {
        opacity: 1;
      }

      &.swiper-pagination-bullet-active {
        opacity: 1;
        background-color: #01d167;
        width: 16px !important;
        height: 8px !important;
      }
    }
  }
  @media only screen and (max-width: 1264px) {
    .view-content {
      .mobile-logo {
        padding-left: 0px;
        padding-right: 0px;
      }
      padding: 24px;
    }
    .swiper-slide {
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .bank-card {
      transform: scale(0.8);
    }
    .slide-over {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      .card-control {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
